.intro-container {
  background-color: inherit;
}

.introduction-search-button {
  background-color: #18cd82;
  font-size: 22px;
  font-weight: bold;
}

.intro-mindmap {
  /* color: blueviolet; */
  margin-left: -10px;
  padding: 18px;
  background-image: url("../../assets/Loop.png");
  background-position: 0 0;
  background-size: auto 138px;
  background-repeat: no-repeat;
}

.search-input:focus {
  outline: none;
}

.intro-img {
  width: 1100px;
}
