.signup {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 60px;
}

.signUp-button {
  text-align: center;
  margin-top: 30px;
  color: white;
  background-color: var(--clr-fg);
  border-radius: 10px;
  font-size: 22px;
}

@media (max-width: 350px) {
  .signUp-card {
    width: 300px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    padding-top: 140px;
    justify-content: center;
  }

  .signUp-input {
    border: 3px solid black;
    margin-top: 10px;
    padding-left: 10px;
    width: 280px;
    height: 60px;
    font-size: 20px;
  }
}
@media (min-width: 351px) {
  .signUp-card {
    width: 380px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    padding-top: 140px;
    justify-content: center;
  }

  .signUp-input {
    border: 3px solid black;
    margin-top: 10px;
    padding-left: 10px;
    width: 300px;
    height: 60px;
    font-size: 20px;
  }
}

@media (min-width: 640px) {
  .signUp-card {
    width: 600px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    padding-top: 140px;
    justify-content: center;
  }
  .signUp-input {
    border: 3px solid black;
    margin-top: 10px;
    padding-left: 10px;
    width: 460px;
    height: 60px;
    font-size: 20px;
  }
}
