* {
  padding: 0;
  margin: 0;
  background-color: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

.app {
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

.light {
  --clr-bg: #fcfcfc;
  --clr-bg-alt: #fff;
  --clr-fg: rgb(40, 40, 47);
  --clr-fg-separate: rgba(85, 85, 85, 0.107);
  --clr-fg-alt: #444;
  --clr-fg-alt-title2: rgba(68, 68, 68, 0.75);
  --clr-primary: #fbac30;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
  --clr-bg: #23283e;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #9ea9ca;
  --clr-fg-separate: #8892b03e;
  --clr-fg-alt: #cdcdff;
  --clr-fg-alt-title2: #cdcdffbb;
  --clr-primary: #64ffda;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.errorPage {
  width: 600px;
}

.modal-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
}
.customModal {
  border-radius: 8px;
}

.backToHome {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 50px;
  font-size: 20px;
}
