@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@400;500;900&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
#root {
  --toastify-toast-width: 500px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
