.header {
  height: 8em;
  max-width: full;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}
.nav-left {
  margin-left: 1em;
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 300px;
  margin-top: -13px;
}
.nav-search-form {
  margin-left: 30px;
  width: 800px;
  display: flex;
  align-items: center;
}
.nav-search-input {
  margin-left: 15px;
}

.nav-search-input:focus {
  outline: none;
}
.nav__list {
  margin-right: 2em;
  display: flex;
  align-items: center;
}

.nav-search-form-850px {
  display: none;
}

.nav__hamburger {
  display: none;
}

@media (max-width: 850px) {
  .nav-search-form {
    display: none;
  }
  .nav-search-form-850px {
    display: flex;
    width: 560px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}

@media (max-width: 600px) {
  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .nav-right-icon {
    display: none;
  }
  .nav__list-item {
    margin: 0.5em 0;
  }

  .app .nav__hamburger {
    display: flex;
    z-index: 2;
    margin-left: 0.8em;
  }
}
